/* .navbar-nav>li>a {
    color : #333333
}
.navbar-inverse .navbar-nav > li > a {
    color : #333333
} */


.nav-tabs.nav-menu>.nav-item>.nav-link {
    color: white;
}

.nav-tabs.nav-menu>.nav-item>.nav-link.active {
    color: #333333;
}
